@import './base.scss';
@import './material.scss';

body {
  width: fit-content;
  height: fit-content;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  @apply pt-3 px-8;

  @screen lg {
    @apply px-20;
  }

  @screen xl {
    @apply px-60;
  }
}

main {
  @apply px-4 py-10;
}

footer {
  @apply pt-6;
}
